
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sevillana', cursive;
    
}
.navbar {
    position: relative;
    font-size: 15px;
    background: #2f22eb;
    font-weight: 250;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Sevillana', cursive;
}
.h1 {
    font-family: 'Sevillana', cursive;
}